#dd_options_wrapper {
}

    #dd_options_wrapper .header {
        height:35px;
        line-height:35px;
        border-bottom:1px solid #c1c1c1;
    }

        #dd_options_wrapper .header span {
            display: inline-block;
            padding:0 10px;
            width:20%
        }

        #dd_options_wrapper .header span.action {
            text-align:right;
            width:50%;
        }

    #dd_options_wrapper .options {
        min-height:120px;
        max-height:220px;
        overflow-y: auto;
        border-radis:2px;
    }

        #dd_options_wrapper .options .option {
            display: block;
            width: 100%
        }

        #dd_options_wrapper .options .option span {
            display: inline-block;
            width:20%;
            padding:0 10px;
            height:35px;
            line-height:35px;
        }

        #dd_options_wrapper .options .option span.action {
            text-align:right;
            width:50%;
        }
