#productscategory_list .product-name {
  margin-bottom: 5px;
  text-align: center; }
  #productscategory_list .product-name a {
    font-size: 15px;
    line-height: 18px;
    color: #3a3939; }
    #productscategory_list .product-name a:hover {
      color: #515151; }
#productscategory_list .exclusive span {
  font-size: 13px;
  line-height: 18px;
  padding: 2px 8px 3px;
  text-decoration: none; }
  #productscategory_list .exclusive span:focus, #productscategory_list .exclusive span:active {
    text-decoration: none; }
    .related_products_header{
      text-align: center;
    }
     .related_products_header:before, .related_products_header:after {
     position: absolute;
      width: 10%;
      height: 3px;
      content: '';
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      margin-top: .50em;
    }  
  .related_products_header:before {
    margin-left: -11%;
  }
  .related_products_header:after {
     margin-left: 1%;
  }
/*# sourceMappingURL=productscategory.css.map */
