<script type="text/javascript" src="{$module_dir}filtercross.js"></script>
<div class="block" align="center">

	<h4>{l s='Search' mod='blocksearchbyattribute'}</h4>
	<div class="block_content" style="padding:0px;">
	<form action="search.php" method="get" id="searchattrib">
	{$text}
	<input type="submit" value="{l s='Search' mod='blocksearchbyattribute'}">
	</form>
	</div>
</div>