 .send-to-link a.open_inquiry_form {
     padding-left: 10px;
     padding-top: 7px;
     text-transform: uppercase;
     display: block;
 }
 
 #new_inquiry_form .form-group {
     margin-bottom: 5px;
 }
 
 #new_inquiry_form .contact-title {
     padding-left: 5px;
     padding-top: 5px;
 }
 
 .contact-us-box {
     display: block;
     margin: 10px 0 20px;
     padding: 10px 10px 16px;
 }
 
 span.send-to-link {
     display: inline-block;
     padding-left: 35px;
 }
 
 .send-to-link:before {
     content: "\f067";
     background: #929292;
     -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
     -ms-border-radius: 50px;
     -o-border-radius: 50px;
     border-radius: 50px;
     color: white;
     display: inline-block;
     font-family: "FontAwesome";
     font-size: 15px;
     font-weight: normal;
     height: 30px;
     line-height: 30px;
     margin-right: 6px;
     text-align: center;
     width: 30px;
     position: absolute;
     left: 22px;
 }
 
 span.inquiry_title {
     font-weight: 600;
     color: black;
 }
 
 .fancybox-wrap .send-to-link:before {
     left: 15px;
     margin-top: 5px;
 }
 /* pop-in add grade/advice ********************************************************************* */
 
 #fancybox-wrap {
     width: 585px;
 }
 
 #fancybox-content {
     width: 585px;
     border-width: 0;
 }
 
 #new_inquiry_form {
     overflow: hidden;
     color: #333333;
     text-align: left;
 }
 
 #new_inquiry_form h2 {
     margin-bottom: 10px;
 }
 
 #new_inquiry_form .title {
     padding: 10px;
     font-size: 13px;
     color: white;
     text-transform: uppercase;
     background: #a9212d;
 }
 
 #new_inquiry_form .product {
     padding: 15px;
 }
 
 #new_inquiry_form .product img,
 #order-detail-content img {
     border: 1px solid #d6d4d4;
 }
 
 #new_inquiry_form .product .product_desc {
     line-height: 18px;
     color: #666666;
 }
 
 #new_inquiry_form .product .product_desc .product_name {
     padding: 10px 0 5px;
     font-size: 13px;
     color: #000;
 }
 
 #new_inquiry_form .new_inquiry_form_content {
     padding: 15px 25px 15px 15px;
     background: #f8f8f8;
 }
 
 @media (max-width: 767px) {
     #new_inquiry_form .new_inquiry_form_content {
         padding-left: 25px;
     }
 }
 
 #new_inquiry_form .new_inquiry_form_content .intro_form {
     padding-bottom: 10px;
     font-weight: bold;
     font-size: 12px;
 }
 
 #new_inquiry_form label {
     display: block;
     margin: 12px 0 4px 0;
     font-weight: bold;
     font-size: 12px;
 }
 
 #new_inquiry_form input,
 #new_inquiry_form textarea {
     padding: 0 5px;
     height: 28px;
     width: 100%;
     border: 1px solid #ccc;
     background: white;
 }
 
 #new_inquiry_form textarea {
     height: 80px;
 }
 
 #new_inquiry_form .submit {
     margin-top: 20px;
     padding: 0;
     font-size: 13px;
     text-align: right;
 }
 
 #new_inquiry_form #new_inquiry_form_footer {
     margin-top: 20px;
     font-size: 12px;
 }
 
 #new_inquiry_form #uniform-id_contact {
     width: 100% !important;
 }