/* CSS Document */
#our_price_display { 
	display:nones;}
.unit-price { font-size:14px; color:#111;}
#unit_price_display { font-size:22px; color:#A9212D;}
#ppbs_widget #unit-c, #ppbs_widget #unit-d {
	display: none;
}
#ppbs_widget {
	margin:0 0 10px 0;}	
#ppbs_widget label {
	display:inline-block;
	text-align: center;}
#ppbs_widget select {
	width:50px;}
#ppbs_widget input.error, #ppbs_widget select.error {
	border:2px solid #aa0000;
	color:#aa0000;
	outline:none;}
#ppbs_price {
	font-weight:normal;
	margin-left:0px;
	border-radius:4px;
	padding:8px;
	color:#A9212D;
	font-size:26px;
	font-weight:bold;
	width: initial;}
#ppbs_widget .roomTypeSelection {
	margin-bottom: 10px;
}
#ppbs_widget .unit-entry {
	position:relative;
	clear: both;}
#ppbs_widget .unit-measurement {
	width: 48%;
	display: inline-block;}
#ppbs_widget .error-unit{
	position:absolute;
	background-color:#bf400d;
	color:#fff;
	padding:3px 4px;
	right:0px;
	top:0px;
	display:none;
	border-radius:4px;}
#ppbs_widget .ppbs_error {
	color:#fff;
	font-weight:bold;
	background-color:#bf400d;
	margin:5px 0;
	padding:5px;
	border-radius:4px;}
span.ppbs_unit_price_suffix {
	font-size:16px;
	padding-left:0px;
	padding-right:4px;}
.our_price_display {
	font-size:14px;}
#our_price_display {
	font-size: 18px;}
.productRoomType {
}
.productRoomType .roomLabel {
	display: block;
	float: left;
	width: 49%;
	padding:0;
	margin:10px 0 0 0;
	cursor: pointer;}
.productRoomType .roomLabel > img {
	border: 2px solid #ccc;
	display: block;
	width: 100%;}
.productRoomType .roomLabel img.selected {
	border: 2px solid #A9212D;}
.productRoomType .roomLabel .radio {
	margin:0;}
.productRoomType .roomLabel .radio span {
	position: absolute;
	left: -5000px;}
.productRoomType .roomLabel .radio span > input + img {
	cursor: pointer;
	border: 2px solid transparent;}
.productRoomType .roomLabel .radio span > input:checked + img {
	border: 2px solid #A9212D;}