input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: textfield;
}
.flooringCalculator {

}

.flooringCalculator .calculatorHeader {
	background-image: url('../img/calculator-header.jpg');
	height: 200px;
	background-size:cover;
	display: block;
}

.flooringCalculator .calculatorHeader .calculatorHeaderContent {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translateX(-50%) translateY(-50%);
}

.flooringCalculator .calculatorFooter {
	height: inherit;
	background-color: #a9212d;
	padding: 10px;
	text-align: center;
}

.flooringCalculator table {
	background-color: #fff;
	color: #777;
}

.flooringCalculator table span {
	color: #777;
}

.flooringCalculator .calculatorFooter .calculatorFooterContent {
	color: #fff;
}

.flooringCalculator .calculatorFooter .calculatorFooterContent h3 {
	text-align: center;
}

.flooringCalculator .calculatorForm {
	display: block;
}

.flooringCalculator .calculatorForm .form-group label {
	display: block;
	color: #A9212D;
}

.flooringCalculator .displayMessage {
	display: none;
}

.roomShape .radio {
	display: none;
}

.roomShape .roomLabel img {
	border: 2px solid #fff;
	display: block;
}

.roomShape .roomLabel img.selected {
	border: 2px solid #A9212D;
}

.roomShape, .roomOrientation, .flooringCost, .gripperRods, .roomDoorways, .doorBars, .roomMeasurements, .roomUnderlay {
	content: "";
    display: table;
    clear: both;
}
.flooringCalculator .calculatorForm .roomShape .roomLabel {
	display: inline-block;
	padding: 0;
	text-align: center;
}
.flooringCalculator .calculatorForm .roomShape .roomLabel p {
	text-align: center;
}

.roomLabel > input {
	visibility: hidden;
	position: absolute;
}

.roomLabel > input + img {
	cursor: pointer;
	border: 2px solid transparent;
}

.roomLabel > input:checked + img {
	border: 2px solid #A9212D;
}
#calculate_submit {
	display: block;
	margin: 0 auto;
	border-radius: 3px;
}

@media (min-width: 768px) {
    input[type="number"]:hover,
    input[type="number"]:focus {
        -moz-appearance: textfield;
    }
    .flooringCalculator {}
    .flooringCalculator .calculatorHeader {
        background-image: url('../img/calculator-header.jpg');
        height: 200px;
        background-size: cover;
        display: block;
    }
    .flooringCalculator .calculatorHeader .calculatorHeaderContent {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    .flooringCalculator .calculatorFooter {
        height: 260px;
    }
    .flooringCalculator table {
        background-color: #fff;
        color: #000;
    }
    .flooringCalculator table span {
        color: #777;
    }
    .flooringCalculator .calculatorFooter .calculatorFooterContent {
        color: #fff;
    }
    .flooringCalculator .calculatorFooter .calculatorFooterContent h3 {
        text-align: center;
    }
    .flooringCalculator .calculatorForm {
        display: block;
    }
    .flooringCalculator .calculatorForm .form-group label {
        display: block;
        color: #A9212D;
    }
    .flooringCalculator .displayMessage {
        display: none;
    }
    .flooringCalculator .displayMessage label {
       font-size: 20px;
    }
    .flooringCalculator .displayMessage p {
       margin:20px 0;
       font-size: 16px;
       line-height: 25px;
    }
    .flooringCalculator .displayMessage #phone_number {
        color: #A9212D;
    }
    .roomShape .radio {
        display: none;
    }
    .roomShape .roomLabel img {
        border: 2px solid #fff;
        display: block;
    }
    .roomShape .roomLabel img.selected {
        border: 2px solid #A9212D;
    }
    .roomShape,
    .roomOrientation,
    .flooringCost,
    .gripperRods,
    .roomDoorways,
    .doorBars,
    .roomMeasurements,
    .roomUnderlay {
        content: "";
        display: table;
        clear: both;
    }
    .flooringCalculator .calculatorForm .roomShape .roomLabel {
        display: inline-block;
        padding: 0;
        text-align: center;
    }
    .flooringCalculator .calculatorForm .roomShape .roomLabel p {
        text-align: center;
    }
    .roomLabel > input {
        visibility: hidden;
        position: absolute;
    }
    .roomLabel > input + img {
        cursor: pointer;
        border: 2px solid transparent;
    }
    .roomLabel > input:checked + img {
        border: 2px solid #A9212D;
    }
    #calculate_submit {
        display: block;
        margin: 0 auto;
        border-radius: 3px;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}
