/* equation editor popup */
#equation-panel-1 {}

    #equation-panel-1 #equation-display {
        background-color:#fff;
        border: solid 1px #ccc;
        border-radius: 2px;
        width:100%;
        height:60px;
        line-height:60px;
        margin:20px 0;
        overflow-x: auto;
        overflow-y: hidden;
        padding:0 20px;
        white-space: nowrap;
    }

    #equation-panel-1 span.button {
        display: inline-block;
        border:solid 1px #ccc;
        border-radius:2px;
        width:40px;
        height:40px;
        background-color:#f5f5f5;
        text-align:center;
        font-size:20px;
        line-height: 40px;
        cursor: pointer;
        margin: 0 10px 10px 0;
        -webkit-user-select: none; /* Chrome/Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+ */

        /* Rules below not implemented in browsers yet */
        -o-user-select: none;
        user-select: none;
    }

    #equation-panel-1 span.button.text-digit {
        font-size:12px;
        width: auto !important;
        padding:0 20px;
    }

    #equation-panel-1 .ppbs-param {
        display: inline-block;
        background-color:#dcf4f9;
        border:1px solid #4ac7e0;
        color:#225c68;
        height:25px;
        width:25px;
        border-radius:6px;
        font-size:15px;
        text-align:center;
        line-height:25px;
        margin-right:5px;
        cursor:pointer;
        position: relative;
    }

        #equation-panel-1 .ppbs-param.variable {
            background-color:#eeffde;
            border:1px solid #afc59e;
            color:#75846a;
            width: auto !important;
            font-size:12px !important;
            padding:0 10px;
        }

        #equation-panel-1 .ppbs-param.parenthesis {
            background-color: #fff6cb;
            border: 1px solid #d7cfab;
            color: #9d977d;
        }

        #equation-panel-1 .ppbs-param.operator {
            background-color: #f7f7f7;
            border: 1px solid #ccc;
            color: #666;
        }

        #equation-panel-1 .ppbs-param i {
            position: absolute;
            right:-2px;
            top:-2px;
            height:10px;
            width:10px;
            text-align:center;
            line-height:10px;
            font-size:15px;
        }

            #equation-panel-1 .ppbs-param:hover i {
                display: block !important;
            }
