.mp-wait-wrapper {
    position: fixed;
    left: 50%;
    top: 50%;
    height:50px;
    width:50px;
    background-color:#fff;
    border-radius:8px;
    z-index:9999;
    background-color:#333;
}

    .mp-wait-wrapper i {
        color:#fff;
        font-size:30px;
        margin:10px 0 0 10px;
    }

