.landingPage .landingPageContent {

}
.landingPage .landingPageContent h3 {
	color: #A9212D;
}
.landingPageBlocks {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 15px 0;
    background: rgba(239,239,239,0.2)
}
.landingPageBlocks .landingPageImage img {
	width: 100%;
}
.landingPageBlocks .landingPageContent {
	padding: 30px;
}
.landingPage .landingPageHeader {
	background-image: url('../img/grass-header.jpg');
	height: 200px;
	background-size:cover;
	display: block;
}
.landingPage .landingPageHeader .landingPageHeaderContent {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	color: #fff;
	transform:translateX(-50%) translateY(-50%);
}
.landingPage .landingPageFooter {
	background-image: url('../img/bg-testimonials-1240.jpg');
	height: 200px;
	background-size:cover;
	display: block;
}
.landingPage .landingPageFooter .landingPageFooterContent {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	color: #fff;
	transform:translateX(-50%) translateY(-50%);}