.help_video {
	width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}
@media screen and (min-width: 769px) {
	.help_video {
		width: 720px;
		height: 360px;
	}
}
@media screen and (min-width: 1200px) {
	.help_video {
		width: 960px;
		height: 540px;
	}
}